.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // -1 garante que está atrás de tudo
  z-index: -1;
  opacity: .15;
  // garante que o video não extrapola a largura
  overflow: hidden;

  &-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}