@import './abstracts//variables.scss';
@import './abstracts/mixins.scss';

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0 38rem;
  margin-top: -20vh;
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  
  @include respond(tab-port) {
    font-size: 3rem;
  }
  
  @include respond(phone) {
    font-size: 2.5rem;
  }
  
}

.about-text-image-content {
  @include flexRow;
  
  margin-top: 8rem;
  width: 100%;

  .text-content {
    margin-right: 2%;
    width: 38%;

    @include respond(tab-port) {
      margin: auto;
      width: 90%;
    }
  }

  .image-content {
    width: 40%;

    @include respond(tab-port) {
      margin: auto;
      width: 90%;
    }
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  margin-top: 1.5rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.composition {
  position: relative;
  
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    // espaço entre a imagem e outline
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }

  // composition:hover composition__photo:not(:hover)
  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
}