@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';

.section-featurs {
  background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../images/nat-4.jpg');
  background-size: cover;
  margin-top: -11.5rem;

  transform: skewY(-7deg);

  // @include respond(tab-port) {
  //   height: 180vh;
  // }
}

.div-featurs {
  @include flexRow;

  padding: 20rem 0;
  transform: skewY(7deg);

  @include respond(tab-land) {
    padding: 15rem 0;
    flex-direction: column;
  }

}

.featurs-individual-card  {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  margin-inline: 3rem;
  width: 14%;
  transition: transform .3s;

  @include respond(tab-land) {
    margin: auto;
    margin-bottom: 6rem;
    width: 50%;
  }

  .featurs-icon {
    font-size: 6rem;
    margin-bottom: 3rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 1rem; 
    }
  }

  h3 {
    margin-bottom: 2rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}